.box{
    box-sizing: border-box;
    padding: 29px;
    border: 1px solid rgb(5, 5, 5);
    width: 30rem;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    border: none;
    margin-bottom: 20px;
    

}
.success{
    background-color: rgba(91, 240, 96, 0.2);
    
}
.warning{
    background-color: rgb(255, 64, 11,0.2);
    
}
.info{
    background-color: rgb(4, 101, 247,0.2);
    
}
.hide{
    background-color: rgb(4, 4, 74);
    color: white;
    padding: 4px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
.hidden{
    display: none;
}